.login {
  width: 1500px;
  height: 920px;
  margin: 0px;
  padding: 0px;
  background-color: #373737;
  border: 2px solid #373737;
  display: flex;
  align-items: center;
  /* justify-content: ; */
  overflow: hidden;
  gap: 5%;
}
.circle {
  width: 600px;
  height: 600px;
  border-radius: 350px;
  background-color: #ff637c;
  margin-top: -700px;
  margin-left: -120px;
}
.loginContainer {
  width: 350px;
  height: 500px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
  align-items: center;
  font-family: "Lexend Exa", sans-serif;

  background-color: #3d3d3d;
  border: 1px solid white;
  gap: 5%;
}
.loginContainer h2 {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}
.inputContainer {
  width: 310px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 60px;
  padding: 5px;
  background-color: #373737;
  display: flex;
  flex-direction: column;
  color: #ff637c;
  gap: 5%;
}
.inputContainer input {
  height: 30px;
  width: 95%;
  margin-top: 3px;
  margin-left: 3px;
  border: none;
  background-color: #373737;
  outline: none;
  color: white;
  font-size: 15px;
  border-bottom: 1px solid white;
}
.circ2 {
  width: 600px;
  height: 600px;
  border-radius: 350px;
  background-color: #ff637c;
  margin-bottom: -700px;
  margin-right: -120px;
}
